.albumContainer {
  font-family: var(--font-poppins);
  display: flex;
  max-width: 700px;
}
.albumImage {
  margin-right: 40px;
  border-radius: 4px;
}
.albumData {
  width: 575px;
}
.header {
  display: flex;
  justify-content: space-between;

  letter-spacing: -0.03em;
}

.header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;

  cursor: pointer;
}
.header p {
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;

  padding-bottom: 5px;
}

.artist {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #4d5761;

  padding-bottom: 40px;
}
.artist span {
  color: #ffffff;
}

@media (max-width: 435px) {
  .albumContainer {
    margin: auto;
  }
  .albumImage {
    margin-right: 20px;
    width: 65px;
    height: 65px;
  }
  .albumData {
    width: 100%;
  }
  .header a {
    padding-bottom: 5px;
  }
  .artist {
    padding-bottom: 0;
  }
}
