.counterSkeleton {
  width: 90px;
  height: 21px;

  margin: 50px 0;

  border-radius: 4px;
}

.counter {
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding-top: 50px;

  color: #ffffff;
}
@media (max-width: 435px) {
  .counter {
    padding: 20px 16px 0 16px;
  }
  .counterSkeleton {
    margin: 20px 16px;
  }
}
