/* Loading */
.skeletonTextTitle {
  width: 100px;
  height: 14px;

  margin: 20px;
  border-radius: 0.5rem;
}
.skeletonText {
  width: 200px;
  height: 14px;

  margin: 20px;
  border-radius: 0.5rem;
}
.skeletonTextNoMargin {
  width: 200px;
  height: 14px;
  border-radius: 0.5rem;
}
.skeletonInput {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;

  width: 439px;
  height: 42px;

  border-radius: 0.5rem;
}
.skeletonButton {
  width: 74px;
  height: 40px;

  border-radius: 0.5rem;
}

/* Main */
.detailContainer {
  width: 935px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #2a2b3a;

  color: #4d5761;
}
.detailContainer h3 {
  font: inherit;
  color: #ffffff;

  padding: 20px;
  padding-bottom: 10px;
}
.detailContainer label {
  font: inherit;

  padding-left: 20px;
  padding-right: 20px;
}
.detailContainer input {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;

  max-width: 460px;
}

.detailsBottom {
  padding: 18px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #2a2b3a;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

.detailsBottom p {
  font: 24px var(--font-poppins) 21px;

  letter-spacing: -0.04em;

  color: #4d5761;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #2a2b3a;

  background: #141416;

  color: white;
  font: 500 14px;
  letter-spacing: -0.14px;

  cursor: pointer;
}
