.title {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: -0.03em;

  color: #ffffff;

  padding-top: 120px;
  padding-bottom: 20px;
}
.cartEmpty {
  max-width: 330px;
  margin: auto;
  text-align: center;

  padding-top: 100px;
  padding-bottom: 150px;
}
.cartEmpty h3 {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;

  color: white;
}
.cartEmpty p {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.03em;

  padding-top: 5px;
  padding-bottom: 30px;

  color: #4d5761;
}
.cartEmpty button {
  padding: 20px 70px;
}

.cartContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 150px;
}

.cart {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.payment {
  border: 1px solid #2a2b3a;
  border-radius: 10px;
  width: 420px;
  height: 380px;
}

.pricingContainer {
  padding: 40px;
  padding-bottom: 35px;
}

.list {
  border-bottom: 1px solid #2a2b3a;
}
.list li {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;

  color: #4d5761;

  padding-bottom: 10px;
}

.list li:last-child {
  padding-bottom: 40px;
}
.price {
  color: white;
  font-weight: 500;
}

.actions {
  padding: 0 40px;
  font-family: var(--font-poppins);
  color: #4d5761;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
}

.totalPriceHigh {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;

  color: #ffffff;

  padding-bottom: 30px;
}

.actions button {
  padding: 20px 140px;

  cursor: pointer;
  margin-bottom: 10px;
}
.authentificate {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #4d5761;
}
