.container {
  max-width: 1180px;
  margin: auto;
}
.border {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 5px;

  background: transparent;
  border-image: linear-gradient(90deg, #ffffff0f, #ffffff33, #ffffff0f) 1;
}
@media (max-width: 435px) {
  .container {
    max-width: 430px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (max-width: 280px) {
  .container {
    max-width: 280px;
  }
}
