/* Loading */
.skeletonTextTitle {
  width: 100px;
  height: 14px;

  margin: 20px;
  border-radius: 0.5rem;
}
.skeletonText {
  width: 200px;
  height: 14px;

  margin: 20px;
  border-radius: 0.5rem;
}
.skeletonInput {
  margin: 10px 0 20px 20px;

  width: 439px;
  height: 42px;

  border-radius: 0.5rem;
}

.skeletonTextNoMargin {
  width: 200px;
  height: 14px;
  border-radius: 0.5rem;
}
.skeletonButton {
  width: 74px;
  height: 40px;

  border-radius: 0.5rem;
}

/* Main */
.detailContainer {
  width: 935px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #2a2b3a;

  color: #4d5761;
}
.detailContainer h3 {
  font: inherit;
  color: #ffffff;

  padding: 20px;
  padding-bottom: 10px;
}
.detailContainer label {
  display: block;

  font: inherit;

  padding: 0 20px 0 20px;
}
.detailContainer input {
  margin: 10px 0 20px 20px;

  max-width: 460px;
}

.detailsBottom {
  padding: 18px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #2a2b3a;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}
.detailsBottom p {
  font: 24px var(--font-poppins) 21px;

  letter-spacing: -0.04em;

  color: #4d5761;
}

@media (max-width: 435px) {
  .skeletonTextTitle {
    margin: 15px;
  }
  .skeletonText {
    margin: 15px;
  }
  .skeletonInput {
    width: 90%;
    margin: 10px 0 15px 15px;
  }
  .skeletonTextNoMargin {
    width: 145px;
  }

  .detailContainer {
    width: initial;
  }
  .detailContainer h3 {
    padding: 15px 15px 10px 15px;
  }
  .detailContainer label {
    padding: 0 15px 0 15px;
  }
  .detailContainer input {
    width: 90%;
    margin: 10px 15px 15px 15px;
  }

  .detailsBottom {
    padding: 15px;
  }
  .detailsBottom p {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}
