.body {
  padding: 30px;
  text-align: center;
}
.body h3 {
  max-width: 240px;
  margin: auto;
  padding-bottom: 5px;

  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.body p {
  max-width: 240px;
  margin: auto;
  padding-bottom: 40px;

  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #4d5761;
}
.actions {
  max-width: 430px;
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;

  display: flex;
}
.actions button {
  width: 207px;
  height: 60px;
  font-family: var(--font-inter);
  padding: 20px 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: -0.01em;
}
