.crossContainer {
  border-radius: 100px;
  padding: 5px 10px;
  height: 100%;
  cursor: pointer;
}
.crossContainer:hover {
  background: rgba(255, 255, 255, 0.1);
}
.crossContainer:active {
  background: rgba(255, 255, 255, 0.15);
}
