.container {
  max-width: 1180px;
  margin: auto;
}
.border {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 5px;

  background: transparent;
  border-image: linear-gradient(90deg, #ffffff0f, #ffffff33, #ffffff0f) 1;
}
