.activeLink {
  position: relative;

  color: white;
}

.activeLink::before {
  width: 100%;
  height: 1px;

  content: "";
  position: absolute;
  bottom: -134%;

  border-radius: 10px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #9978ff00, #9978ff, #9978ff00) 1;
}

.unActiveLink {
  position: relative;
}

.unActiveLink::before {
  width: 100%;
  height: 1px;

  content: "";
  position: absolute;
  bottom: -134%;

  border-radius: 10px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #9978ff00, #9978ff, #9978ff00) 1;

  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.unActiveLink:hover::before,
.unActiveLink:focus::before {
  transform: scaleX(1);
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  max-width: 202px;
}

.cartCounter {
  margin-left: 2px;
  color: #9978ff;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.56px;
}
