.cardContainer {
  width: 490px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  color: #fff;

  font: 400 14px var(--font-poppins);

  letter-spacing: -0.42px;
}
.priceTitle {
  line-height: 21px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #4d5761;
}

.price {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;

  color: #9978ff;
}

.songsContainerBody {
  max-height: 144px;
  padding: 10px 20px;

  overflow-x: hidden;
}

.songParagraph {
  padding-bottom: 5px;
}
@media (max-width: 435px) {
  .cardContainer {
    width: initial;
  }
  .cardContainer div {
    width: 100%;
  }
  .songsContainerBody {
    padding: 10px 15px;
  }
}
