.cartEmpty {
  max-width: 330px;
  margin: auto;
  text-align: center;

  padding-top: 100px;
  padding-bottom: 150px;

  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;
}
.cartEmpty h3 {
  font-weight: 600;
  letter-spacing: -0.03em;

  color: white;
}
.cartEmpty p {
  font-weight: 400;
  text-align: center;

  padding-top: 5px;
  padding-bottom: 30px;

  color: #4d5761;
}
.cartEmpty button {
  padding: 20px 70px;
}

@media (max-width: 435px) {
  .cartEmpty {
    padding: 20px 0 60px 0;
  }
}
