.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: var(--font-poppins);
  color: white;
}
.header input {
  max-width: 420px;
  margin-top: 120px;
  margin-bottom: 20px;
}

.genres {
  align-items: center;
  display: flex;
  color: white;
  gap: 40px;
  padding: 30px 0;
}
.genre {
  cursor: pointer;
  padding: 10px 20px;

  font-family: var(--font-poppins);

  border: 1px solid transparent;
  border-radius: 100px;
}
.activeFilter {
  background: linear-gradient(#000000, #000000) padding-box,
    conic-gradient(
        from 180deg at 48.65% 48.28%,
        #2e00cc -44.02deg,
        #ffffff 38.45deg,
        #ffffff 59.07deg,
        #4213d2 69.37deg,
        #704ae7 167.8deg,
        #b8a6f5 224.67deg,
        #2700ac 245deg,
        #b8a6f5 263.63deg,
        #2e00cc 315.98deg,
        #ffffff 398.45deg
      )
      border-box;
}

.counter {
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  padding: 50px 0;

  color: #ffffff;
}

.counterSkeleton {
  width: 90px;
  height: 21px;

  margin: 50px 0;

  border-radius: 4px;
}

.albums {
  display: grid;
  gap: 32.5px 0px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 200px;
}
