.singleAlbumContent {
  font-family: var(--font-poppins);

  padding-top: 140px;
}

.albumBody {
  display: flex;
  gap: 60px;

  margin-top: 70px;
}

.col1 h4 {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.col1 p {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-poppins);
  line-height: 28px;
  letter-spacing: -0.03em;

  color: #4d5761;

  max-width: 630px;
}

.col2 {
  margin-bottom: 150px;
}
.col2 h3 {
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;

  color: #ffffff;

  padding-bottom: 5px;
}

.albumName {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.col2 {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;
}

.grey {
  color: #4d5761;
}
.artistName {
  color: white;
}
.artistName:hover {
  color: #9978ff;
}
.artistName:active {
  color: #4716df;
}
