/* LOADING SKELETON */

.skeletonImage {
  width: 280px;
  height: 280px;

  margin-bottom: 15px;

  border-radius: 4px;
}
.skeletonTitle {
  width: 145px;
  height: 21px;

  margin-bottom: 10px;

  border-radius: 4px;
}
.skeletonText {
  width: 120px;
  height: 10px;

  margin-bottom: 12px;

  border-radius: 4px;
}
.skeletonTextShorter {
  width: 40px;
  height: 21px;

  border-radius: 4px;
}
.skeletonButton {
  width: 45px;
  height: 26px;

  border-radius: 100px;
}

.card {
  font-family: var(--font-poppins);
  color: white;
  max-width: 300px;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.addToCartButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;

  padding: 8px 10px;

  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  color: #fff;
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.36px;

  cursor: pointer;
}
.addToCartButton:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
.addToCartButton:active {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}
.image {
  border-radius: 8px;
  padding-bottom: 15px;
}
.card h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;
  color: white;

  padding-bottom: 5px;
}
.artist {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.03em;

  color: #4d5761;

  padding-bottom: 12px;
}
.artist span {
  color: white;
}

.actions {
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #4d5761;
}

.button {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;

  color: white;

  border-radius: 100px;
  background: linear-gradient(0deg, black, black) padding-box,
    linear-gradient(140deg, #9978ff, #9978ff40, #9978ff) border-box;
  border: 1px solid transparent;
}

.buttonBackGroundColor {
  padding: 4px 10px;
  border-radius: 100px;

  background: rgba(153, 120, 255, 0.2);
}
