.actions {
  padding: 30px;
}

.actions button {
  width: 100%;
}

.purchaseBtn button {
  padding: 20px 0;
}
.addToCartBtn button {
  margin-top: 20px;
  padding: 20px;
}
@media (max-width: 435px) {
  .actions {
    padding: 20px 15px;
  }
}
