.card {
  border: 1px solid #2a2b3a;
  border-radius: 10px;
  width: 420px;

  margin: 100px auto 150px auto;

  padding: 40px 40px 0px 40px;

  text-align: center;
}

.cardHeader {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  border-radius: 10px 10px 0 0;
  border: 1px solid #2a2b3a;

  background-color: #000000;
}
.body {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #2a2b3a;
  border-top: none;

  background-color: #000000;
}
@media (max-width: 435px) {
  .card {
    width: 305px;
    margin: 30px auto 60px auto;
    padding: 20px 16px;
  }

  .cardHeader {
    width: 88%;
    margin: auto;
  }
  .header {
    padding: 10px 15px;
  }
}
