.payment {
  border: 1px solid #2a2b3a;
  border-radius: 10px;
  width: 420px;

  font-family: var(--font-poppins);
  letter-spacing: -0.03em;
}

.pricingContainer {
  padding: 40px;
  padding-bottom: 35px;
}

.list {
  border-bottom: 1px solid #2a2b3a;
}
.list li {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #4d5761;

  padding-bottom: 10px;
}

.list li:last-child {
  padding-bottom: 40px;
}
.price {
  color: white;
  font-weight: 500;
}

.actions {
  padding: 0 40px 40px 40px;

  color: #4d5761;
}
.totalPrice {
  display: flex;
  justify-content: space-between;
}

.totalPriceHigh {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;

  padding-bottom: 30px;
}

.actions button {
  padding: 20px 140px;

  cursor: pointer;
  margin-bottom: 10px;
}
.authentificate {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;

  color: #4d5761;
}

@media (max-width: 435px) {
  .payment {
    width: 340px;
    margin: auto;
  }
  .pricingContainer {
    padding: 20px 15px;
  }
  .list li:last-child {
    padding-bottom: 20px;
  }
  .totalPriceHigh {
    padding-bottom: 20px;
  }
  .actions {
    padding: 0 15px 20px 15px;
  }
  .actions button {
    width: 100%;
    padding: 20px;
  }
}
