.buttonWhite {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;

  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid transparent;

  cursor: pointer;
}

.buttonWhite:hover {
  border: 1px solid #ffffff;
  background: #000000;
  color: white;
}
.buttonWhite:active {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff;
}

.buttonEmptyBlack {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;

  color: white;

  background: #000000;
  border: 1px solid #2a2b3a;
  border-radius: 100px;

  text-align: center;

  cursor: pointer;
}
.buttonEmptyBlack:hover {
  background: rgba(255, 255, 255, 0.1);
}
.buttonEmptyBlack:active {
  background: rgba(255, 255, 255, 0.15);
}

.buttonViolet {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  text-align: center;

  background: #9978ff;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 18px 0;

  cursor: pointer;
}

.buttonViolet:hover {
  background: #6331ff;
}
.buttonViolet:active {
  background: #4716df;
}

.gradientButton {
  height: 40px;
  border: 1px solid transparent;
  border-radius: 100px;

  color: white;
  background: linear-gradient(#000000, #000000) padding-box,
    conic-gradient(
        from 180deg at 48.65% 48.28%,
        #2e00cc -44.02deg,
        #ffffff 38.45deg,
        #ffffff 59.07deg,
        #4213d2 69.37deg,
        #704ae7 167.8deg,
        #b8a6f5 224.67deg,
        #2700ac 245deg,
        #b8a6f5 263.63deg,
        #2e00cc 315.98deg,
        #ffffff 398.45deg
      )
      border-box;

  cursor: pointer;
}
.gradientButton a {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: inherit;
}
.background {
  border-radius: 100px;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.08);
}

.grayButton {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #2a2b3a;

  background: #141416;

  color: white;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.14px;

  cursor: pointer;
}
.buttonWhiteForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

  width: 100%;

  padding: 20px;

  border-radius: 4px;
  border: none;
  color: #000000;

  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.03em;

  cursor: pointer;
}
