.card {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;

  border-radius: 10px 10px 0 0;
  border: 1px solid #2a2b3a;

  background-color: #000000;
}
.body {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #2a2b3a;
  border-top: none;

  background-color: #000000;
}
