.header {
  z-index: 1;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  color: white;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #3d3e51, #21222e) border-box;

  border-bottom: 1px solid transparent;
  border-radius: 0px 0px 30px 30px;
}

.container {
  max-width: 1180px;
  margin: auto;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #4d5761;

  cursor: pointer;
}
.header a:hover {
  color: white;
}

.logo {
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.links {
  max-height: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 80px;
}

.header .activeLink {
  position: relative;

  color: white;
}
.header .activeLink::before {
  width: 100%;
  height: 1px;

  content: "";
  position: absolute;
  bottom: -134%;

  border-radius: 10px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #9978ff00, #9978ff, #9978ff00) 1;
}

.header .unActiveLink {
  position: relative;
}

.header .unActiveLink::before {
  width: 100%;
  height: 1px;

  content: "";
  position: absolute;
  bottom: -134%;

  border-radius: 10px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #9978ff00, #9978ff, #9978ff00) 1;

  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.unActiveLink:hover::before,
.unActiveLink:focus::before {
  transform: scaleX(1);
}
.actions {
  max-width: 201px;
}
.actions button {
  margin-right: 30px;
}
.navbarAuth {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profileContainer {
  border: 1px solid #2a2b3a;
  padding: 6px;
  border-radius: 100px;
}

.profile {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  background: radial-gradient(
    71.73% 100% at 50% 0%,
    rgba(153, 120, 255, 0) 0%,
    #9978ff 74.88%,
    #3e00ff 100%
  );
  border: 1px solid #2a2b3a;
}

.unatentificated button {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  color: white;

  padding: 10px 20px;
  border-radius: 100px;
}
