.header {
  z-index: 1;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  color: white;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(45deg, #3d3e51, #21222e) border-box;

  border-bottom: 1px solid transparent;
  border-radius: 0px 0px 30px 30px;
}

.container {
  max-width: 1180px;
  margin: auto;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.04em;
  color: #4d5761;

  cursor: pointer;
}
.header a:hover {
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.links {
  max-height: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  gap: 80px;
}
.actions {
  width: 202px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions button {
  margin-right: 30px;
}

@media (max-width: 435px) {
  .header {
    padding: 11px 16px;
    border-radius: 0px;
    border-bottom: 1px solid #3d3e51;
    background: #000;
  }
  .logo {
    font-size: 22px;
    letter-spacing: -0.66px;
  }

  .navLinks {
    display: none;
  }
  .links {
    display: none;
  }
  .actions {
    display: none;
  }
}
