.body {
  font-family: var(--font-poppins);
  text-align: center;
}
.body h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.42px;

  padding-bottom: 5px;
}
.body p {
  color: #4d5761;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;

  padding-bottom: 30px;
}
.body button {
  padding: 20px;
  max-width: 340px;
  width: 100%;

  margin-bottom: 40px;
}
